/* Base */

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.section {
  padding: 120px 0;
}

/* Header */

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid #e7e9fc;
}

.header-address {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.logo {
  display: block;
  align-items: center;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent-header {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-item {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

/* Hero section */
.hero-inner {
  padding: 188px 0;
  background-color: #2e2f42; /* TODO: replace with image */
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.hero-button {
  display: block;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Principles section */

.principle-list {
  display: flex;
  gap: 24px;
  padding: 120px 156px;
}

.principle {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.principle-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.principle-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team section */

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
  padding: 232px 156px 120px 156px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  padding: 32px 0;
}

.team-member-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.portfolio-section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
